body {
    font-family: Arial, sans-serif;
    background-image: url(Background\ Media\ Sociale.jpg);
    color: #fff;
    background-size: 1250px;
    background-position: center;
}

.chat-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;

}

.chat-messages {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
}

input[type="text"] {
    width: calc(100% - 60px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.logo{
    width: 275px;
    position: relative;
    height: auto;
    margin-left: 510px;
}

.image-right img {
    max-width: 100%; /* Set the maximum width to 100% of the container */
    height: auto; /* Maintain aspect ratio */
    width: 150px; /* Set a specific width of 10 pixels (adjust as needed) */
    flex-basis: 35%;
    margin-right: 10px;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.language-selector button{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #d9d9d9;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #c1ab81;
    transition: background 0.5s;
}

.language-selector button:hover{
    background: #d9d9d9;
    transform: translateY(-5px);
}

.copyright{
    width: 100%;
    position: absolute;
    text-align: center;
    background: #014c2d;
    font-weight: 300;
    margin-top: 20px;
}
.copyright i{
    color: #ad9152;
}

.copyright a{
    color: #c0c0c0;
}


